body{
    color: tomato;
}
/* Podemos accder mediante su etiqueta */
h1{
    color:blue;
}
p{
    color: blueviolet;
}
/* Podemos acceder también con su id */
#titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Podemos acceder mediante el nombre de su clase */
.texto{
    font-weight: bold;
}
/* Ahora vamos indicarle que queremos seleccionar las etiquetas de p que solo contengan
    la clase de texto */
p.texto{
    color: chocolate;
}
/* Dependiendo del orden que hayamos declarado nuestros selectores, el último siempre se va
    sobreponer a lo que hemos escrito antes*/
p.especial{
    color: mediumspringgreen;
}
/* Ahora vamos indicar que todas las etiquetas de p que se encuentran dentro de un div
    apliquen los siguientes estilos */
div p{
    /* Lo que le estamos diciendo que en todas las etiquetas de div y que deriven a una p
        se apliquen lo siguiente*/
    color: aquamarine;
}
/* Le podemos pasar más de una etiqueta */
div h2, div h3{
    color: brown;
}
/* Para seleccionar todos los elementos '*' es un selector universal, pero este solo va modificar
    las propiedades que no hayan sido definidas por otros selectores*/
*{
    font-size: 24px;
    /* color: black; */
}

.color{
    /* Valor hexagecimal para color */
    /* color: #00ff00 ; */
    /* Valor RGB para color */
    color: rgb(0, 255, 255);
    /* border: 5px black solid; */
    /* 
        Tenemos las siguientes opciones para border
        dotted double groove hidden
        dashed ridge  inset
        solid  outset none

    */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    /* Unidades de Medida */
    /* border-width: 1cm; centimetros */
    /* border-width: 5mm; milimitros */
    /* border-width: 1in; pulgadas */
    /* border-width: 1px; pixel */
    /* border-width: 1pt; puntos */
    /* border-width: 1pc; picas  */
    /* border-width: 2em; dos veces el tamño de la fuente que se esta utilizando */
    /* border-width: 2rem; es relativo al tamaño de la fuente del elemento
        raíz(html) */
   
}
#fondo{
    background-color: rgb(255, 0, 0);
    /* Opacity le da una transparencia al elemento completo */
    /* opacity: 0.3; */
    background-image: url(1337543.png);
    height: 400px;
    /* Permite redimencionar la imagen de fondo y puede recibir distintos valores */
    /* background-size: auto; Detecta el tamaño que este debe de tener de maner
        automática*/
    /* background-size: cover;  La imagen utiliza todo el ancho que tiene dispoble */
    /* background-size: contain; contiene la imagen dentro de las dimensiones que
        nosotros le especifiquemos*/
    /* background-repeat: no-repeat; no repite la imagen */
    /* background-repeat: repeat-x; se repite la imagen solo en el eje horizontal */
    /* background-repeat: repeat-y; se repite de manera vertical */
    /* background-position: center top; Para ubicar el fondo */
    /* Una manera corta de colocoar los anteriores valores */
    background: #f00 url(1337543.png) repeat-y center bottom /400px 200px;
    /* Tenemos que colocar la propiedad backgroun primero y despues sus derivados */
    /* background-size: 400px 200px; */

}

.margen{
    background-color: chocolate;
    /* margin: top, right, bottom, left */
    margin: 15px 20px 25px 30px;
    /* padding: top, right, bottom, left */
    padding: 30px 25px 20px 15px;
    border: solid 1px black;
    height: 200px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}
.text{
    font-family: 'Boldonse', sans-serif;
    text-align: center;
    text-decoration: line-through;
    /* text shadow: right botom blur color */
    text-shadow: 3px 5px 5px blue;
}
/* Cuando el link no ha sido visitado */
a:link{
    color: blueviolet;
}
/* cuando el link ya fue visitado */
a:visited{
    color: gray;
}
/* cuando pasamos el cursor por encima */
a:hover{
    color: yellow;
}
/* cuando damos click  */
a:active{
    color: red;
}
ul{
    background-color: cyan;
    list-style-type: georgian;
    /* padding-left: 0; */
    /* list-style-position: inside; */
}

table{
    width: 100%;
    border-collapse:collapse;
}
th, td{
    border: solid 1px #eee;
    padding: 5px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}
tr:hover{
    background-color: #aaa;
    cursor: pointer;
}
span{
    /* Los elementos ocupan todo un bloque o sea todo el ancho de la pantalla, por lo qeu habra un
    salto de línea */
    display: block;
    /* display: none; ocultar elementos */
    /* visibility: hidden; */
    max-width: 300px;
    background-color: cadetblue;
}
.inline{
    /* Los el bloque solo ocupara el espacio que hay dentro del contenido, por lo que no habrá un
    salto de linea, os que tienen un displan inline son los span, links y las img */
    display: inline;
}

#position{
    /* position: static; por default */
    /* position: relative; es relativa en donde puede estar posicionado este elemento */
    /* position: fixed; nos indica que tiene que tener una posición con respecto a lo que nosotros
    estamos viendo en el explorador   */
    /* position: absolute; este se va posicionar relativo al elemento padre más cercano */
    /* position: sticky; es una mezcla entre relative y fixed */
    left:20px;
}

.left{
    float: left;
    width: 100px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}
.column{
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    /* A los elementos inline no se les puede agregar ancho u altura, con inline block, puedes 
    agregar esto, pero con la caracterisitca que se comportan de manera inline*/
    display: inline-block;
    height: 55px;
    background-color: aqua;
}
.center{
    padding: 50px 0;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}